#payments-modal-box {
  background-color: white;
  width: 50vw;
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#payments-modal {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#payments-modal-button {
  margin-top: 20px;
}

#payment-error-msg {
  margin-left: 20px;
  color: red;
}

h3 {
  color: #3C76B0;
}