.input {
  height: 40px;
  padding-left: 10px;
  color: black;
  font-size: 16px;
  border: 1px solid #c4c4c4;
  width: 100%;
  font-family: 'DM Sans', sans-serif
}

.input::placeholder {
  color: #bababa;
}

.input:hover {
  border: 1px solid #afafaf;
}

.input:focus {
  outline: none;
  border: 1px solid black;
}

input[type='password'] {
  font: 'Squared';
  font-size: 20px;
}

input[type='navbar-search'] {
  margin: auto 2%; /* margin: Y-val X-val */
  width: 40%;
}
