.Help {
  margin-top: 5%;
  margin-bottom: 5%;
  min-height: 60vh;
}

.help-label {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.help-sub {
  font-size: 16px;
  font-weight: normal;
  width: 60%;
  margin: auto;
}

.help-container {
  margin: auto;
  width: 50%;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 10px;
}

.help-btn {
  margin-top: 30px;
  padding: 10px;
  width: 100%;
  background-color: light-grey;
  color: black
}

.spacer {
  margin: 30px auto;
}

.registerInfo {
  padding: 50px;
}
